{% assign education_en = site.data.data.en.education %}
{% assign education_ru = site.data.data.ru.education %}
{% if education_en or education_ru %}
<section class="education">
    <div class="title" data-en="Education" data-ru="Образование">Education</div>

    <div class="lang-content" data-lang="en">
        {% for ed in education_en %}
            <div class="education-item">
                <div class="time">{{ed.time}}</div>
                <div class="degree">{{ed.degree}}</div>
                <div class="university">{{ed.university}}</div>
            </div>
        {% endfor %}
    </div>

    <div class="lang-content" data-lang="ru" style="display: none;">
        {% for ed in education_ru %}
            <div class="education-item">
                <div class="time">{{ed.time}}</div>
                <div class="degree">{{ed.degree}}</div>
                <div class="university">{{ed.university}}</div>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}