{% assign languages_en = site.data.data.en.languages %}
{% assign languages_ru = site.data.data.ru.languages %}
{% if languages_en or languages_ru %}
<section class="languages">
    <div class="title" data-en="Languages" data-ru="Языки">Languages</div>

    <div class="lang-content" data-lang="en">
        {% for lang in languages_en %}
            <div class="idiom">{{lang.idiom}}</div>
        {% endfor %}
    </div>

    <div class="lang-content" data-lang="ru" style="display: none;">
        {% for lang in languages_ru %}
            <div class="idiom">{{lang.idiom}}</div>
        {% endfor %}
    </div>
</section>
{% endif %}